body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F4F9;
    color: #2D2D38;
}

header {
    background-color: #405782;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

section {
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}

#about {
    background-color: #72D2BB;
    color: #2D2D38;
}

#projects {
    background-color: #4B7FCD; /* Medium blue */
    /* color: #F0F4F9;  Remove this line */ 
}


#contact {
    background-color: #405782; /* Dark blue background */
    color: #fff;           /* White text color for better contrast */
}


.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin-bottom: 2rem;
    padding: 1rem;
    border: none; /* Remove default border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
    background-color: #fff; /* White background for the card */
    transition: transform 0.2s ease; /* Add a transition for hover effect */
}

.project:hover {
    transform: translateY(-5px); /* Slightly lift the card on hover */
}


.project-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #405782;
    color: #F0F4F9;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.social-links li {
    margin: 0 2rem;
    display: flex;
    align-items: center;
}

.social-links a {
    text-decoration: none;
    color: #F0F4F9; /* Use a lighter color for better contrast */
    font-size: 1rem;
}


footer {
    background-color: #2D2D38; /* Contact color */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
